[Desktop Entry]
Exec=*venv python location* *python location*
Icon=application-x-shellscript
Name=RTFCL.sh
Type=Application
X-KDE-AutostartScript=true
